<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build all packages, including 3rd party externals</description>
  <keepDependencies>false</keepDependencies>
  <creationTime>0</creationTime>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DIST_PATH</name>
          <description></description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REV</name>
          <description></description>
          <defaultValue>latest</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <description></description>
          <defaultValue>test</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <RemoteConfig>
        <name>origin</name>
        <uris>
          <org.eclipse.jgit.transport.URIish>
            <path>opengeo/suite-build.git</path>
            <user>git</user>
            <port>-1</port>
            <host>github.com</host>
          </org.eclipse.jgit.transport.URIish>
        </uris>
        <pushURIs/>
        <fetch>
          <org.eclipse.jgit.transport.RefSpec>
            <force>true</force>
            <wildcard>true</wildcard>
            <srcName>refs/heads/*</srcName>
            <dstName>refs/remotes/origin/*</dstName>
          </org.eclipse.jgit.transport.RefSpec>
        </fetch>
        <push/>
        <uploadpack>git-upload-pack</uploadpack>
        <receivepack>git-receive-pack</receivepack>
        <tagopt>AUTO_FOLLOW</tagopt>
        <mirror>false</mirror>
        <timeout>0</timeout>
        <relativeTargetDir></relativeTargetDir>
      </RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
  </scm>
  <advancedAffinityChooser>false</advancedAffinityChooser>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders>
    <hudson.tasks.Shell>
      <command>cd installer/linux/rpm/
./build_all.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger>
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>postgresql-9.2, geos, pgadmin3, postgis, proj, gdal, libght, pgpointcloud, geoserver, opengeo-webapps, opengeo-tomcat, opengeo-jai, opengeo-docs, opengeo-suite-client-sdk</projects>
          <condition>SUCCESS</condition>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>